<div id="chatOuter">
	<div id="chat">
		<%= render :partial => "partials/message",
							 :collection => @channel.messages_from_redis %>
	</div>
</div>
<div id="right-panel">
	<h1><%= @channel.name %> - 讨论组</h1>
	<hr>
	
	<div id="online-users">
		<h2>在线用户</h2>
		<div id="presence">
		</div>
	</div>
	<hr>
	
	<div id="docs">
		<h2>共享文档</h2>
		<div class="fluploader_wrapper">
			<label class="fluploader_select uiButton">
				<input value="选择文件" type="submit">
			</label>
			<div class="fluploader_swfdiv">
				<input id="uploadify" name="uploadify" type="file" />
			</div>
		</div>
		<ol id="filelist">
		<% @channel.docs.each do |doc| %>
			<li id="doc_<%= doc.id %>">
			<%= link_to File.basename(doc.src.url), doc.src.url %> by <%= doc.user.username %>
			<% if current_user.id == doc.user.id %>
				- <%= link_to '删除', doc, :method => :delete, :remote => true %>
			<% end %>
			</li>
		<% end %>
		</ol>
	</div>
</div>

<%= form_tag({:controller => 'messages', :action => 'create'}, :remote => true, :id => 'new_message') do %>
	<%= hidden_field :channel_id, @channel.id %>
  <%= text_area_tag :body, {}, :class => "message_box" %>
<% end %>

<script>
	var pusher = new Pusher('2f20b4687fdaada149b2');
	var c = pusher.subscribe("presence-channel_<%= @channel.id %>");

	c.bind('pusher:subscription_succeeded', function(members){
		$('#presence').empty();
		members.each(function(member) {
			$('#presence').append("<div class='dude' id='dude_"+member.id+"'>"+member.info.name+"</div>");
		});
	});
	
	c.bind('pusher:member_added', function(member){
		$('#presence').append("<div class='dude' id='dude_"+member.id+"'>"+member.info.name+"</div>");
		$('#chat').append("<div class='message notify'>"+member.info.name+ " 匆匆地来了。 </div>");
		$('body').scrollTop($('body')[0].scrollHeight);
	});
	
	c.bind('pusher:member_removed', function(member){
		$('#dude_'+member.id).remove();
		$('#chat').append("<div class='message notify'>"+member.info.name+ " 轻轻地走了。 </div>");
		$('body').scrollTop($('body')[0].scrollHeight);
	});

	c.bind('message-create', function(message) {
		if (message.uid != "<%= current_user.id %>"){
			$("#chat").append("<div id='message_'" + message.id + " class='message other'><div class='person'>"+message.name+"</div><div class='body'>"+message.body+"</div></div>");
			$('.body').emotions({handle: 'etoggle'});
			$('body').scrollTop($('body')[0].scrollHeight);
		}
	});
	
	c.bind('doc-create', function(doc) {
		if (doc.uid != "<%= current_user.id %>"){
			h = [];
			h.push('<li id="doc_' + doc.id + '">');
			h.push('<a href="' + doc.src + '">' + doc.filename + '</a>');
			h.push(' by ' + doc.name);
			h.push('</li>');
			$('#filelist').append(h.join(''));
		}
	});
	
	c.bind('doc-destroy', function(doc) {
		if (doc.uid != "<%= current_user.id %>"){
			$('#doc_' + doc.id).remove();
		}
	});
	
	$(document).ready(function() {
			$('body').scrollTop($('body')[0].scrollHeight);
			$('.body').emotions({handle: 'etoggle'});
			<% key = Rails.application.config.session_options[:key] %>
			var uploadify_script_data = {};
			var csrf_param = $('meta[name=csrf-param]').attr('content');
			var csrf_token = $('meta[name=csrf-token]').attr('content');
			uploadify_script_data[csrf_param] = encodeURI(encodeURIComponent(csrf_token));
			uploadify_script_data['<%= key %>'] = '<%= cookies[key] %>';
			uploadify_script_data['channel_id'] = "<%= @channel.id %>";

			$('#uploadify').uploadify({
				uploader  		: '/assets/uploadify.swf',
				script    		: '/docs',
				cancelImg		: '/images/cancel.png',
				auto			: true,
				multi			: true,
				removeCompleted : true,
				scriptData		: uploadify_script_data,
				wmode			: "transparent",
				hideButton		: true,
				height			: 20,
				width			: 62,
				onComplete		: function(event, ID, fileObj, doc, data) {
					doc = eval('(' + doc + ')');
					h = [];
					h.push('<li id="doc_' + doc.id + '">');
					h.push('<a href="' + doc.src + '">' + doc.filename + '</a>');
					h.push(' by ' + doc.name);
					h.push(' - <a href="/docs/'+ doc.id + '" data-method="delete" data-remote="true" rel="nofollow">删除</a>');
					h.push('</li>');
					$('#filelist').append(h.join(''));
				}
			});
	});
	
	
	$("#new_message").keypress(function(event) {
		if (event.keyCode == '13') {
			event.preventDefault();
			textarea = document.getElementById("body");
			if (textarea.value.trim() != ''){
				$('#chat').append("<div class='message self'><div class='person'><%= current_user.username %></div><div class='body'>"+textarea.value+"</div></div>");
				$('.body').emotions({handle: 'etoggle'});
				$('body').scrollTop($('body')[0].scrollHeight);
				var value = $("#new_message").serialize();
				$("#new_message")[0].reset();
				$.post("/messages", value);
			}
		}
	});
</script>
