<div class="post">
	<h2><%= link_to @page.title, @page %> - <%= link_to '返回', @page.channel %></h2>
	<div class="meta">
		<span class="author"><%= @page.user.username %></span>
		<span class="published"><%= @page.created_at %></span>
		<span><%= link_to '编辑', [:edit, @page] %>
	</div>
	<hr>
	<%= @page.markdown.html_safe %>
</div>